<body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Live Streaming</h3>
            <img src="{{ url_for('video_feed') }}" width="620" height="480">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4  offset-lg-2">
            <h3 class="mt-5">Distance Feed</h3>
            <h3 >{{(distance_feed.decode('ascii') )}} cm</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4  offset-lg-2">
            <h3 class="mt-5">Light Intensity Feed</h3>
            <h3 >{{(LDR_feed.decode('ascii') )}} &#8486; </h3>
        </div>
    </div>
</div>
</body>